/* ======= form ======= */
// input
@mixin input ($bgColor) {
    border: none;
    outline: none;
    background-color: $bgColor;
    padding-left: 16px;
}

// button
@mixin button ($sizeW, $sizeH, $textColor, $bgColor) {
    width: $sizeW;
    height: $sizeH;
    color: $textColor;
    background-color: $bgColor;
    font-family: $font-style;
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
    outline: none;
    border: 0;
    cursor: pointer; 
}

// custom checkbox & radio
/* === 共用部分 === */
.e-checkWrap {
	display: inline-block;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	// 可自訂
	line-height: 24px;
	padding-left: 30px;
	font-size: $font-size-base;
	text-transform: uppercase;
	color: $text-primary;

	/* On mouse-over, add a grey background color (共用)*/
	&:Hover input ~ .e-mark{
		background-color: transparent;
	}

	/* Hide the browser's default checkbox (共用)*/
	input{
		position: absolute;
  		opacity: 0;
  		cursor: pointer;
  		height: 0;
		width: 0;

		/* When the checkbox is checked, add a blue background (共用)*/
		&:checked ~ .e-mark{
			background-color: transparent;
		}
		/* Show the checkmark when checked (共用)*/
		&:checked ~ .e-mark:after{
			display: block;
		}
	}
}
/* Create the checkmark/indicator (hidden when not checked)*/
.e-mark:after {
	content: "";
	position: absolute;
	display: none;
}
/* === Checkbox ===*/
/* Create a custom checkbox*/
.e-checkboxmark {
  position: absolute;
  top: 0;
  left: 0;

  //可自訂
  height: 24px;
  width: 24px;
  background-color: transparent;
  border-radius: 12px;
  border: 1.5px solid $dark-blue;
}
/* Style the checkmark/indicator*/
.e-checkWrap .e-checkboxmark:after {
  //可自訂
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid $dark-blue;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* === Radio === */
/* Create a custom radio button*/
.e-radiomark {
  position: absolute;
  top: 0;
  left: 0;
  //可自訂
  height: 24px;
  width: 24px;
  border: 1.5px solid $white;
  border-radius: 50%; 
}
/* Style the indicator (dot/circle)*/
.e-checkWrap .e-radiomark:after {
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 50%;
	//可自訂
	width: 12px;
	height: 12px;
	background: white;
}


