/* ======= ringtones ======= */
.p-ringtones{
    .l-task{
        color: $white;
        border-bottom: none;
    }
    .l-rightSide{
        i{
            font-size: $font-size-base*3;
        }
    }
    .e-checkWrap{
        color: $white;
        flex: 1;
    }
    .e-radiomark:after{
        background-color: $pink;
    }
    .e-checkWrap input:checked ~ .e-mark{
        border: 1.5px solid $pink;
    }
}